/* Hero Section */

.hero-section {
    height: 60vh;
}

.intro-container {
    margin-left: 15vw;
    z-index: 2;
}

.my-name {
    font-size: 4rem;
    font-weight: 350;
    margin-top: 21rem;
}

.job-title {
    font-size: 3rem;
    font-weight: 250;
    text-transform: uppercase;
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.my-links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: absolute;
    top: 60%;
    left: 180%;
    z-index: 2;
    border: 1px solid #000;
    padding: 1.5rem;
    border-radius: .5rem;
}